<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Index HTML</title>
        <link rel="icon" href="/img/weather.png" >
        <link rel="stylesheet" href="/css/style.css" type="text/css">
    </head>
    <body>
        {{>header}}
        <div class="mainContainer">
            <p>Use this site to get your weather!</p>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <div class="weatherInformation">
                <div class="details"><span>Location : </span><span id="loactionDetails"></span></div>
                <div class="details"><span>Weather Summary : </span><span id="weatherSummary"></span></div>
                <div class="details"><span>Today's High Temperature : </span><span id="temperatureHigh"></span></div>
                <div class="details"><span>Today's Low Temperature : </span><span id="temperatureLow"></span></div>
                <div class="details"><span>Humidity : </span><span id="humidity"></span></div>
            </div>

            <div class="notificationContainer">
                <p id="loadingTextMsg">Loading...</p>
            </div>

            <div class="errorDetails">
                <div><span>Error : </span><span id="errorText"></span></div>
            </div>
        </div>
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html>